@import '../../variables.scss';


body {
    background-color: $primary-login-color;
}

form {
    margin-top: 15px;
}

.detailContainer {
    display: flex;
    border: 10px outset $main-view-primary;
    background-color: $detail-view-primary;
    opacity: 90%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 30vw;
    font-family: $font-secondary;
    margin-top: 85px;
}

.detailContainer:hover {
    opacity: 100%;
}

.calendarParent{
    width: 370px;
    border: 10px outset $main-view-primary;
}

#descriptionElem{
    width: 400px;
    margin-bottom: 20px;
}

#buttonContain{
    display: flex;
    justify-content: center;
}

.detailFormParent {
    background-color: $detail-view-primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65vw;
    height: 60vh;
    border-radius: 50px;
    margin-top: 100px;
    color: $login-text-color;
    border: 10px outset $main-view-primary;
}

.formElem {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uberAlles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: $fill-w;
}

.postPhoto{
    margin-right: 30px;
}

.detailButton{
    width: 120px;
    height: 30px;
    border: 3px inset $main-view-primary;
    color: $login-text-color;
    font-weight: 300;
    font-family: $font-stack;
    border-radius: 15px;
    font-size: 15px;
    background-color: $detail-view-primary;
    margin: 10px 10px;
}

.dashboardElement {
    margin: 5px 0px;  
}

#exitButton{
    width: 190px;
    height: 30px;
    border: 3px inset $main-view-primary;
    color: $login-text-color;
    font-weight: 300;
    font-family: $font-stack;
    border-radius: 15px;
    font-size: 15px;
    background-color: $detail-view-primary;
    margin: 10px 10px;
}

.flexParent{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.dashboardText {
    color: $login-text-color;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-top: 0px;
    align-items: flex-start;
    justify-content: center;
    margin: 15px 25px;
}

.flexForText{
    display: flex;
    flex-direction: column;
}

.buttonFlexContain {
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;
    align-items: center;
}

.mapButton{
    position: relative;
    bottom: 300px;
    background-color: $primary-login-color;
    color: $main-view-primary;
    font-family: $font-stack;
    border: 4px inset $main-view-primary;
    border-radius: 15px;
    box-shadow: $glow $main-view-primary;
    padding: 1em 1.5em;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}


.mapToggle{
    color: $main-view-primary;
    font-family: $font-stack;
    border: 4px inset $main-view-primary;
    border-radius: 15px;
    box-shadow: $glow $main-view-primary;
    background-color: $login-text-color;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.mapToggle:hover {
    background-color: rgb(239, 246, 255);
    cursor: $click;
  }
.mapToggle:active {
    box-shadow: none;
    top: 5px;
  }
  

.mapButton:hover {
    background-color: $detail-view-hover;
    cursor: $click;
  }
.mapButton:active {
    box-shadow: none;
    position: relative;
    bottom: 295px;
}

.mapHouser{
    display: flex;
    width: $fill-w;
    height: 90vh;
    padding-top: 85px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animationContain{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inPostLinkButton{
    margin-left: 10px;
}

#locationElem{
    font-size: 14px;
}

@keyframes toast-success {
    0% {
        background-color: $login-text-color;
        color: $main-view-primary;
    }
    25%{
        color: $detail-view-primary;
        font-size: 13px;
    }
    50% {
        background-color: $detail-view-primary;
        color: $main-view-primary;
        font-size: 15px;
    }
    75%{
        color: $main-view-primary;
        font-size: 13px;
    }
    100% {
        background-color: $login-text-color;
        color: $main-view-primary;
    }
}


.inPostLinkButton{
    margin-left: 10px;
}

.detailParent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $fill-w;
    height: 100vh;
    background-image: $back3;
    background-attachment: fixed;
    background-size: cover;
}


button:hover,
button:focus {
    background: $detail-view-hover;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#exitButton:hover,
#exitButton:focus {
    background: $detail-view-hover;
}

#exitButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#exitButton:active {
    transform: scale(0.99);
}

.detailButton:hover,
.detailButton:focus {
    background: $detail-view-hover;
}

.detailButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.detailButton:active {
    transform: scale(0.99);
}

@media screen and (max-width: 1350px){
    .detailContainer {
        width: 80vw;
        height: 70vh;
        margin-top: 15vh;
        }
    .detailFormParent {
        width: 80vw;
        height: 70vh;
        margin-top: 15vh;
        }
}
@media screen and (max-width: 1150px){
    .detailContainer {
        width: 85vw;
        height: 75vh;
        margin-top: 15vh;
   }
    .detailFormParent {
        width: 90vw;
        height: 75vh;
        margin-top: 15vh;
   }
}

@media screen and (max-width: 1000px){
    .detailContainer {
        width: 90vw;
        height: 70vh;
        margin-top: 15vh;
   }
    .detailFormParent {
        width: 95vw;
        height: 70vh;
        margin-top: 15vh;
   }
}
@media screen and (max-width: 950px){
    .detailParent {
        display: flex;
        flex-direction: column;
        border: none;
        background-color: transparent;
   }
    .detailFormParent {
        width: 95vw;
        height: 70vh;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        border: none;
        background-color: transparent;
   }
}
@media screen and (max-width: 700px){
    .detailContainer {
        width: $fill-w;
        height: 100vh;
        margin: $none;
        border: $none;
        opacity: 100%;
        background-color: transparent;
        border-radius: $none;
    }
    .detailParent {
        width: $fill-w;
        height: 100vh;
        padding-top: 0;
        margin: $none;
        border: $none;
        border-radius: $none;
        background-image: $back3;
        background-attachment: fixed;
        background-size: cover;
        background-color: $main-view-primary;
    }
    .uberAlles {
        width: $fill-w;
        height: 100vh;
        margin: $none;
        border: $none;
        border-radius: $none;
        background-color: transparent;
        padding-top: 185px;
    }
    .calendarParent{
        width: 325px;
    }
    #descriptionInputField{
        width: 250px;
    }
    body {
        background-color: $primary-login-color;
    }
}
