@import '../../variables.scss';


body {
    background-color: $primary-login-color;
}

.detailContainer {
    display: flex;
    border: 10px outset $main-view-primary;
    background-color: $detail-view-primary;
    opacity: 90%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 30vw;
    font-family: 'Spartan';
    margin-top: 85px;
}

.detailContainer:hover {
    opacity: 100%;
}

.calendarParent{
    width: 370px;
    border: 10px outset $main-view-primary;
}

#descriptionElem{
    width: 400px;
}

#buttonContain{
    display: flex;
    justify-content: center;
}

.detailFormParent {
    background-color: $detail-view-primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65vw;
    height: 60vh;
    border-radius: 50px;
    margin-top: 200px;
    color: $login-text-color;
    border: 10px outset $main-view-primary;
}

.formElem {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uberAlles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.detailButton{
    width: 120px;
    height: 30px;
    border: 3px inset $main-view-primary;
    color: $login-text-color;
    font-weight: 300;
    font-family: $font-stack;
    border-radius: 15px;
    font-size: 15px;
    background-color: $detail-view-primary;
    margin: 30px 10px;
}

#exitButton{
    width: 190px;
    height: 30px;
    border: 3px inset $main-view-primary;
    color: $login-text-color;
    font-weight: 300;
    font-family: $font-stack;
    border-radius: 15px;
    font-size: 15px;
    background-color: $detail-view-primary;
    margin: 0px 10px;
}

.flexParent{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.dashboardText {
    color: $login-text-color;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
}

.detailParent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/image3.jpg);
    background-attachment: fixed;
    background-size: cover;
}


button:hover,
button:focus {
    background: rgb(17, 17, 17);
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#exitButton:hover,
#exitButton:focus {
    background: rgb(17, 17, 17);
}

#exitButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#exitButton:active {
    transform: scale(0.99);
}

@media screen and (max-width: 1350px){
    .detailContainer {
        width: 75vw;
        height: 65vh;
        margin-top: 15vh;
        }
    .detailFormParent {
        width: 75vw;
        height: 65vh;
        margin-top: 15vh;
        }
}
@media screen and (max-width: 1150px){
    .detailContainer {
        width: 80vw;
        height: 70vh;
        margin-top: 15vh;
   }
    .detailFormParent {
        width: 85vw;
        height: 70vh;
        margin-top: 15vh;
   }
}

@media screen and (max-width: 1000px){
    .detailContainer {
        width: 90vw;
        height: 70vh;
        margin-top: 15vh;
   }
    .detailFormParent {
        width: 95vw;
        height: 70vh;
        margin-top: 15vh;
   }
}
@media screen and (max-width: 950px){
    .detailParent {
        display: flex;
        flex-direction: column;
        border: none;
        background-color: transparent;
        padding-top: 185px;
   }
    .detailFormParent {
        width: 95vw;
        height: 70vh;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        border: none;
        background-color: transparent;
   }
}
@media screen and (max-width: 700px){
    .detailContainer {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        border: 0px;
        opacity: 100%;
        background-color: transparent;
        border-radius: 0px;
    }
    .detailParent {
        width: 100vw;
        height: 100vh;
        padding-top: 0;
        margin: 0px;
        border: 0px;
        border-radius: 0px;
        background-image: url(../../images/image3.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-color: $main-view-primary;
    }
    .uberAlles {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        border: 0px;
        border-radius: 0px;
        background-color: transparent;
        padding-top: 185px;
    }
    .calendarParent{
        width: 325px;
    }
    #descriptionInputField{
        width: 250px;
    }
    body {
        background-color: $primary-login-color;
    }
}
