@import '../../variables.scss';


.postContainer {
    display: flex;
    border: 10px outset rgb(247, 179, 111);
    background-color: $primary-login-color;
    opacity: 90%;
    color: white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 35px;
    width: 65vw;
    height: 30vw;
}

.postPhoto {
    max-width: 350px;
}

.dashboardText {
    display: flex;
    flex-direction: column;
}

.postParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/image1.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
}


#spaceTaker {
    height: 10vh;
    width: 100vw;
}

.mainViewButton {
    width: 60px;
}