@import '../../variables.scss';


.defaultLanding{
    width: $fill-w;
    height: $fill-h;
    background-image: $back1;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.defaultLandingText{
    color: $login-text-color;
    font-family: $font-stack;
    font-size: 25px;
    text-shadow: 0px 0px 5px $primary-login-color;
}

.postContainer {
    display: flex;
    border: 10px outset $main-view-primary;
    background-color: $primary-login-color;
    opacity: 90%;
    color: $login-text-color;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 35px;
    width: 70vw;
    height: 35vw;
    font-family: $font-secondary;
}

.postPhoto {
    max-width: 350px;
    border: 8px outset $main-view-primary;
    border-radius: 15px;
    margin: 15px 15px;
}
.categoryHeader{
    font-weight: 700;
    font-size: 18px;
}
.categoryHeaderMulti{
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 5px;
}

.dashboardText {
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
}

.textBoxElem{
    margin: 15px 0px;
}

.postParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: $back1;
    background-attachment: fixed;
    background-size: cover;
    width: $fill-w;
}


#spaceTaker {
    height: 85px;
    width: $fill-w;
}

.mainViewButton {
    width: 120px;
    height: 30px;
    border: 3px inset $main-view-primary;
    color: $login-text-color;
    font-weight: 300;
    font-family: $font-stack;
    border-radius: 15px;
    font-size: 15px;
    background-color: $primary-login-color;
    margin: 0px 10px;
}

.mainViewButton:hover,
.mainViewButton:focus {
    background: rgb(17, 17, 17);
}

.mainViewButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.mainViewButton:active {
    transform: scale(0.99);
}

.locationElement{
    font-size: 14px;
}

@media screen and (max-width: 1200px){
    .postContainer {
        width: 85vw;
        height: 70vh;
    }
}

@media screen and (max-width: 900px){
    .postPhoto {
        display: none;
    }
    .postContainer {
        width: 85vw;
        height: 60vh;
    }
}

@media screen and (max-width: 700px){
    .postPhoto {
        display: none;
    }
    .postContainer {
        display: flex;
        border: 10px outset $main-view-primary;
        background-color: $primary-login-color;
        opacity: 85%;
        color: $login-text-color;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        margin: 35px;
        width: $fill-w;
        height: 70vh;
        font-family: 'Spartan';
    }
    
}

@media screen and (max-width: 550px){
    .postPhoto {
        display: none;
    }
    .postContainer {
        height: 80vh;
    }
    
}
