@import "../../variables.scss";

.filterContainer {
  width: $fill-w;
  height: $fill-h;
  padding-top: 85px;
}

.filterSearchBar {
  width: $fill-w;
  height: 235px;
  font-size: 15px;
  margin: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.entryParent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $fill-w;
  height: 75vh;
  border: 10px outset $main-view-primary;
  font-family: $font-secondary;
  color: $login-text-color;
  padding: 25px;
  background-color: transparent;
}

.currentFilterButton {
  width: 120px;
  height: 37px;
  border: 5px inset $main-view-primary;
  color: $main-view-primary;
  font-weight: 500;
  font-family: $font-stack;
  border-radius: 15px;
  font-size: 18px;
  background-color: $login-text-color;
  margin: 15px 10px;
}

#mainSubmitButton {
  width: 220px;
  height: 47px;
  border: 5px inset $main-view-primary;
  color: $main-view-primary;
  font-weight: 500;
  font-family: $font-stack;
  border-radius: 15px;
  font-size: 25px;
  background-color: $detail-view-primary;
  margin: 10px 10px;
  -webkit-box-shadow: $glow $main-view-primary;
  -moz-box-shadow: $glow $main-view-primary;
  box-shadow: $glow $main-view-primary;
}

.toggleButton {
  width: 120px;
  height: 37px;
  border: 5px inset $main-view-primary;
  color: $login-text-color;
  font-weight: 500;
  font-family: $font-stack;
  border-radius: 15px;
  font-size: 18px;
  background-color: $detail-view-primary;
  margin: 15px 10px;
}

#searchHeader {
  font-family: $font-stack;
  font-size: 25px;
  color: $login-text-color;
}

#hideFilterButton {
  border: $none;
  color: $main-view-primary;
  font-size: 15px;
  background-color: $primary-login-color;
  position: relative;
  font-family: $font-stack;
  bottom: 10px;
}

.inputFieldParent{
  margin-top: -5px;
  margin-bottom: -3px;
}

#extraFlex{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#imRealBadAtFlexBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterSearchBarInner {
  width: 750px;
  height: 225px;
  border-top: 10px groove $main-view-primary;
  border-bottom: 10px groove $main-view-primary;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 15px;
  -webkit-box-shadow: $glow $main-view-primary;
  -moz-box-shadow: $glow $main-view-primary;
  box-shadow: $glow $main-view-primary;
}

.inputField {
  height: 35px;
  width: 375px;
  font-family: $font-secondary;
  border: 4px inset $main-view-primary;
  padding-left: 5px;
}

.filterSearchBar {
  label {
    color: $login-text-color;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 25px;
  }
  img {
    width: 130px;
    margin: 0px 30px;
    position: relative;
    top: 6px;
  }
}

.filterPhoto {
  width: 500px;
  max-height: 400px;
  border: 10px outset $main-view-primary;
}

.displayedTextParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin: 10px;

    span {
      font-weight: 900;
      font-size: 15px;
      margin: 5px;
    }
  }

  h1 {
    font-size: 25px;
    font-weight: 800;
    color: $main-view-primary;
  }
}

.description {
  margin: 10px;
}

.flexContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25px;
}

.toggleButton:hover,
.toggleButton:focus {
  background: $login-text-color;
  color: $main-view-primary;
}
.toggleButton:active {
  background: $login-text-color;
  color: $main-view-primary;
}

.toggleButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.toggleButton:active {
  transform: scale(0.99);
}

.currentFilterButton:hover,
.currentFilterButton:focus {
  background: $login-text-color;
  color: $main-view-primary;
}
.currentFilterButton:active {
  background: $login-text-color;
  color: $main-view-primary;
}

.currentFilterButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.currentFilterButton:active {
  transform: scale(0.99);
}

#mainSubmitButton:hover,
#mainSubmitButton:focus {
  background: rgb(0, 0, 0);
  color: $main-view-primary;
}
#mainSubmitButton:active {
  background: $login-text-color;
  color: $main-view-primary;
}

#mainSubmitButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

#mainSubmitButton:active {
  transform: scale(0.99);
}


@media screen and (max-width: 1000px) {
  
    .entryParent {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: $fill-w;
      height: 85vh;
      border: 10px outset $main-view-primary;
      font-family: $font-secondary;
      color: $login-text-color;
      padding: 15px;
      background-color: transparent;
    }
    .filterPhoto {
      width: 400px;
      max-height: 300px;
      border: $none;
    }
    .inputField {
      height: 30px;
      width: 275px;
      font-family: $font-secondary;
      border: 4px inset $main-view-primary;
      padding-left: 3px;
    }

    .filterLogo{
      display: none;
    }
  
    .filterSearchBar {
      width: $fill-w;
      margin-left: $none;
  
      label {
        font-size: 25px;
      }

    }
    .filterSearchBarInner {
      width: 600px;
    }
  }


@media screen and (max-width: 620px) {
  
    .entryParent {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: $fill-w;
      height: 85vh;
      border: 10px outset $main-view-primary;
      font-family: $font-secondary;
      color: $login-text-color;
      padding: 15px;
      background-color: transparent;
    }
    .mobileSpace{
      height: 240px;
    }

    .filterPhoto{
      width: 200px;
    }
  
    .buttonFlex{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .inputField {
      height: 30px;
      width: 275px;
      font-family: $font-secondary;
      border: 4px inset $main-view-primary;
      padding-left: 3px;
    }
    .filterSearchBarInner {
      width: $fill-w;
      height: $fill-h;
      padding-top: 115px;
      border: none;
      box-shadow: none;
    }
    .flexContain{
      border-top: 10px groove $main-view-primary;
      border-bottom: 10px groove $main-view-primary;
      margin-top: 85px;
      width: 85vw;
      padding: 10px;
      -webkit-box-shadow: $glow $main-view-primary;
      -moz-box-shadow: $glow $main-view-primary;
      box-shadow: $glow $main-view-primary;
      border-radius: 15px;
    }
  }