@import '../../variables.scss';

#headerParent {
    width: 100vw;
    height: 10vh;
    background-color: $primary-login-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-stack;
    font-weight: 800;
    position: fixed;
    z-index: 2
}

.headerPerm {
    font-size: 30px;
    color: $login-text-color;
}

.headerWelcome {
    margin-left: 65px;
    font-size: 15px;
    color: $login-text-color;
}

.headerLogo {
    width: 50px;
}

.headerElem {
    margin: 0px 15px;
}

.headerText {
    font-size: 15px;
    color: $login-text-color;
}

#buttonParent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcomeBox {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.subnav_links {
    text-decoration: none;
    color: black;
}

h3{
    font-size: 25px;
}


@media screen and (max-width: 900px){
    #headerParent {
        font-size: 25px;
    }
    h3 {
        display: none;
    }
}

@media screen and (max-width: 700px){
    #headerParent {
        font-size: 25px;
    }
    h3 {
        display: none;
    }
    .headerPerm{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .notMobile{
        display: none;
    }
}