#headerParent {
    width: 100vw;
    height: 10vh;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerElem {
    margin: 0px 15px;
}

#buttonParent {
    display: flex;
}

#welcomeBox {
    display: flex;
    width: 500px;
    justify-content: space-between;
}