@import '../../variables.scss';

#formParent {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#postParent {
    border: 10px outset $main-view-primary;
    background-color: $primary-login-color;
    color: $login-text-color;
    font-family: $font-stack;
    display: flex;
    opacity: 80%;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 75vh;
    border-radius: 50px;
    margin-top: 50px;
}

#postParent:hover {
    opacity: 100%;
}

#calendarParent{
    border: 10px outset $main-view-primary;
}

#descriptionInputField {
    height: 100px;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

.postButton{
    width: 150px;
    height: 40px;
    border: 3px inset $main-view-primary;
    color: $login-text-color;
    font-weight: 300;
    font-family: $font-stack;
    border-radius: 15px;
    font-size: 18px;
    background-color: $primary-login-color;
    margin: 30px 10px;
}

.postButton:hover,
.postButton:focus {
    background: rgb(29, 29, 29);
}

.postButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.postButton:active {
    transform: scale(0.99);
}



body {
    background-color: $primary-login-color;
}

#uberAlles {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-image: url(../../images/image4.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#spacer{
    height: 85px;
    width: 100vw;
}


@media screen and (max-width: 1350px){
    #postParent {
        width: 85vw;
        height: 80vh;
        }
}
@media screen and (max-width: 1150px){
    #postParent {
        width: 90vw;
        height: 80vh;
        }
}

@media screen and (max-width: 1000px){
    #postParent {
        width: 95vw;
        height: 80vh;
        opacity: 1;
        }
}
@media screen and (max-width: 950px){
    #postParent {
        display: flex;
        flex-direction: column;
        border: none;
        background-color: transparent;
        padding-top: 185px;
        opacity: 1;
   }
}
@media screen and (max-width: 700px){
    #postParent {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        border: 0px;
        opacity: 100%;
        background-color: transparent;
        border-radius: 0px;
    }

    #uberAlles {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        border: 0px;
        border-radius: 0px;
        background-color: transparent;
        background-image: url(../../images/image4.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
    #calendarParent{
        width: 325px;
    }
    #descriptionInputField{
        width: 250px;
    }
    body {
        background-color: $primary-login-color;
    }
}
