#formParent {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#postParent {
    background-color: plum;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    height: 80vh;
    border-radius: 50px;
    margin-top: 20px;
}

#descriptionInputField {
    height: 100px;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

#uberAlles {
    display: flex;
    width: 100vw;
    height: 85vh;
    justify-content: center;
}