@import '../../variables.scss';

#formParent {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#postParent {
    border: 10px outset $main-view-primary;
    background-color: $primary-login-color;
    color: $login-text-color;
    font-family: $font-stack;
    display: flex;
    opacity: 80%;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 75vh;
    border-radius: 50px;
    margin-top: 50px;
}

#postParent:hover {
    opacity: 100%;
}

#calendarParent{
    border: 10px outset $main-view-primary;
}

#descriptionInputField {
    height: 100px;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

.postButton{
    width: 150px;
    height: 40px;
    border: 3px inset $main-view-primary;
    color: $login-text-color;
    font-weight: 300;
    font-family: $font-stack;
    border-radius: 15px;
    font-size: 18px;
    background-color: $primary-login-color;
    margin: 5px 10px;
    position: relative;
}

.postButton:hover,
.postButton:focus {
    background: $post-button-hover;
}
.postButton:hover {
    cursor: $click;
}
.postButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.postButton:active {
    transform: scale(0.99);
    top: 5px;
}



body {
    background-color: $primary-login-color;
}

.mapHouser{
    display: flex;
    width: $fill-w;
    height: 90vh;
    padding-top: 85px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mapButton{
    
}

#uberAlles {
    display: flex;
    width: $fill-w;
    height: $fill-h;
    justify-content: center;
    background-image: $back4;
    background-attachment: fixed;
    background-size: cover;
}

#spacer{
    height: 85px;
    width: $fill-w;
}

.mapToggle{
    color: $main-view-primary;
    font-family: $font-stack;
    border: 4px inset $main-view-primary;
    border-radius: 15px;
    box-shadow: $glow $main-view-primary;
    background-color: $login-text-color;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.mapToggle:hover {
    background-color: rgb(239, 246, 255);
    cursor: $click;
  }
.mapToggle:active {
    box-shadow: none;
    top: 5px;
  }
  
.mapButton{
    position: relative;
    bottom: 300px;
    background-color: $primary-login-color;
    color: $main-view-primary;
    font-family: $font-stack;
    border: 4px inset $main-view-primary;
    border-radius: 15px;
    box-shadow: $glow $main-view-primary;
    padding: 1em 1.5em;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}
.mapButton:hover {
    background-color: $detail-view-hover;
    cursor: $click;
  }
.mapButton:active {
    box-shadow: none;
    position: relative;
    bottom: 295px;
}

@media screen and (max-width: 1350px){
    #postParent {
        width: 85vw;
        height: 80vh;
        }
}
@media screen and (max-width: 1150px){
    #postParent {
        width: 90vw;
        height: 80vh;
        }
}

@media screen and (max-width: 1000px){
    #postParent {
        width: 95vw;
        height: 80vh;
        opacity: 1;
        }
}
@media screen and (max-width: 950px){
    #postParent {
        display: flex;
        flex-direction: column;
        border: $none;
        background-color: transparent;
        padding-top: 185px;
        opacity: 1;
   }
}
@media screen and (max-width: 700px){
    #postParent {
        width: $fill-w;
        height: $fill-h;
        margin: $none;
        border: $none;
        opacity: 100%;
        background-color: transparent;
        border-radius: $none;
    }

    #uberAlles {
        width: $fill-w;
        height: $fill-h;
        margin: $none;
        border: $none;
        border-radius: $none;
        background-color: transparent;
        background-image: $back4;
        background-attachment: fixed;
        background-size: cover;
    }
    #calendarParent{
        width: 325px;
    }
    #descriptionInputField{
        width: 250px;
    }
    body {
        background-color: $primary-login-color;
    }
}
