@import '../../variables.scss';

input {
    margin: 5px;
    border: 2px inset $main-view-primary;
    border-radius: 10px;
    width: 200px;
    padding-left: 5px;
}

label {
    font-size: 20px;
}

.loginParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 5px inset $main-view-primary;
    background-color: $primary-login-color;
    width: 55vw;
    height: 50vh;
    opacity: 70%;
    padding: 25px;
    font-family: $font-stack;
    color: $login-text-color;
}

.loginParent:hover {
    opacity: 100%;
}


.loginButton {
    height: 30px;
    width: 100px;
    background-color: $primary-login-color;
    border: 3px inset $main-view-primary;
    color: $login-text-color;
    font-size: 15px;
    font-weight: 300;
    border-radius: 15px;
    font-family: $font-stack;
}

.loginBoundaryFlex {
    display: flex;
    width: $fill-w;
    height: $fill-h;
    justify-content: center;
    align-items: center;
    background-image: $back5;
    background-attachment: fixed;
    background-size: cover;
}

.formElem {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.failBox{
    display: flex;
    flex-direction: column;
}

.errorFail {
    color: $error;
    animation: fail-response 6s infinite, shake 1s;
    margin: 0px 10px;
    padding-top: 7px;
}

.errorMsgParent{
    height: 25px;
}

.loginTitleText {
    font-size: 30px;
}

@keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }


@keyframes fail-response {
    0%, 100% {
      color: $error;
      font-size: 19px;
    }
    50% {
      color: red;
      font-size: 17px;
      text-shadow: 2px 2px 5px red;
    }
  }

@media screen and (max-width: 900px){
    .loginParent {
    width: 65vw;
    height: 60vh;
    }
}

@media screen and (max-height: 750px){
    .loginParent {
    height: 70vh;
    margin-top: 5vh;
    }
}
@media screen and (max-width: 700px){
    .loginParent {
        width: $fill-w;
        height: 90vh;
        margin: $none;
        border: $none;
        opacity: 100%;
        background-color: transparent;
        border-radius: $none;
    }
    .loginBoundaryFlex {
        width: $fill-w;
        height: $fill-h;
        margin: $none;
        border: $none;
        border-radius: $none;
        background-image: $back2;
        background-attachment: fixed;
    background-size: cover;
    }
    label{
        text-shadow: 0px 0px 5px $primary-login-color;
    }

    .loginTitleText{
        text-shadow: 0px 0px 5px $primary-login-color;
    }
}