$font-stack: 'Original Surfer';
$font-secondary: 'Spartan';
$primary-login-color: black;
$login-text-color: white;
$main-view-primary:  rgb(247, 179, 111);
$detail-view-primary: #1f2641;
$detail-view-hover: #101735;