$font-stack: 'Original Surfer';
$font-secondary: 'Spartan';
$primary-login-color: black;
$login-text-color: white;
$main-view-primary:  rgb(247, 179, 111);
$detail-view-primary: #1f2641;
$detail-view-hover: #101735;
$post-button-hover: rgb(29, 29, 29);
$error: rgb(190, 2, 2);
$fill-w: 100vw;
$fill-h: 100vh;
$click: pointer;
$none: 0;
$glow: 0 12px 18px -11px;
$back1: url(../../images/image1.jpg);
$back2: url(../../images/image2.jpg);
$back3: url(../../images/image3.jpg);
$back4: url(../../images/image4.jpg);
$back5: url(../../images/image5.jpg);
$back6: url(../../images/image6.jpg);

